@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 680px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 680px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 680px;
  }
}

td>code,
li>code,
p>code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: hsla(215, 8%, 47%, .4);
  border-radius: 6px;
  color: #e6edf3;
}

.markdown img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  size: "(max-width: 480px) 100vw, (max-width: 1024px) 50vw, 800px";
}

pre {
  border-style: solid;
  border-color: var(--bs-border-width);
  border-width: 1px;
}

.markdown-body header h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color, inherit);
}

.markdown-body .markdown>div>h1 {
  margin-top: 20px;
}

.token.operator {
  color: #fff;
  background: transparent;
}