@tailwind base;
@tailwind components;
@tailwind utilities;

.token.operator {
    background: transparent;
}

pre {
    border-style: solid;
    border-color: var(--color-border);
    background-color: transparent;
    border-width: 1px;
}